html, body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #232323;
}

.site-header {
	width: 100%;
	background: #0275d8;
	padding: 1rem 0;
	position: fixed;
	z-index: 100;
}

.header-wrapper {
	padding: 0 1rem;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.flash {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background: transparent;
}

.flash-msg {
	width: 100%;
	text-align: center;
	padding: 10px 0;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	font-size: 0.8rem;
	font-weight: 500;
}

.header-title {
	font-family: 'Arvo', serif;
	font-size: 1.5rem;
	color: #fff;
}

.header-login, .category-page-header-buttons {
	margin-left: auto;
}

.btn {
	background: none;
	border: 3px solid #fff;
	margin-right: 1rem;
	cursor: pointer;
	padding: 16px 64px;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

.btn-login {
	color: #fff;
}

.btn-login:hover {
	background: #fff;
	color: #0275d8;
}

.btn-logout {
	background: #fff;
	color: #0275d8;
}

.side-nav-wrapper {
	border: 1px solid rgba(0,0,0,.14);
	bottom: 0;
	background: #fff;
	color: #232323;
	display: block;
	left: 0;
	position: fixed;
	width: 256px;
	z-index: 4;
	top: 89px;
}

.side-nav-header {
	border-bottom: 1px solid rgba(0,0,0,.14);
	box-sizing: border-box;
	display: block;
	height: 64px;
	padding: 22px 0 23px 16px;
	position: relative;
	font-weight: 500;
	background: #f1f1f1;
}

.side-nav-items ul {
	padding-left: 16px;
}

.side-nav-items li {
	list-style-type: none;
	padding: 8px 0;
	cursor: pointer;
}

.side-nav-items li:hover, .side-nav-items li:focus {
	color: #000;
	font-weight: 500;
}

.side-nav-items li a {
	text-transform: capitalize;
}

.main-content {
	width: calc(100% - 256px);
	left: 256px;
	top: 89px;
	position: relative;
	overflow:hidden;
}

.category-page-header {
	max-width: 100%;
	padding: 1.5rem 1rem 1.5rem 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.category-page-title {
	font-size: 4rem;
}

.btn-edit-cat, .btn-delete-cat, .btn-add-product {
	max-width: 240px;
	padding: 1rem;
}

.btn-edit-cat {
	border: 3px solid #cca01d;
	color: #cca01d;
}

.btn-delete-cat {
	border: 3px solid #da413d;
	color: #da413d;
}

.btn-add-product {
	border: 3px solid #005960;
	color: #005960;
}

.btn-edit-cat:hover, .btn-delete-cat:hover, .btn-add-product:hover {
	color: #fff;
}

.btn-edit-cat:hover {
	background: #cca01d;
}

.btn-delete-cat:hover {
	background: #da413d;
}

.btn-add-product:hover {
	background: #005960;
}

.login-wrapper {
	width: 100%;
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-title {
	margin-bottom: 3rem;
}

.abcRioButtonLightBlue {
	background-color: #4285f4;
}

.product-data {
	padding: 1rem 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.product-item {
	min-width: 400px;
	max-width: 400px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
	margin: 1rem 0.5rem;
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
}

.product-item-header, .product-item-content, .product-item-footer {
	padding: 1rem;
}

.product-item-content {
	flex-grow: 1;
	display: flex;
	margin: 0;
	align-items: center;
	padding-top: 0;
}

.product-item-left {
	width: 75%;
}

.product-item-right {
	width: 25%;
	text-align: end;
	font-weight: 500;
	font-size: 1.2rem;
}

.product-item-footer {
	max-width: 100%;
	border-top: 1px solid #f1f1f1;
	display: flex;
	align-items: center;
}

.user-avatar {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	margin-right: 8px;
}

.product-item-footer-buttons {
	margin-left: auto;
}

.edit-product-link, .delete-product-link {
	font-size: 0.7rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #0275d8;
}