{% extends "main.html" %}
{% block content %}
	{% include "header.html" %}
	{% include "navigation.html" %}
	<main class="main-content">
		<div class="category-page-header">
			<h2 class="category-page-title">All Products</h2>
			<div class="category-page-header-buttons">
				<a href="{{ url_for('newCategory')}}">
					<button class="btn btn-add">Add a Category</button>
				</a>
			</div>
		</div>
		<div class="product-data">
		{% if products != [] %}
		{% for p in products %}
			<div class="product-item">
				<div class="product-item-header">
					<h3>{{ p.name }}</h3><span><a href="{{ url_for('showCategoryProducts', url_name=p.category_url) }}">{{ p.category.name }}</a></span>
				</div>
				<div class="product-item-content">
					<div class="product-item-left">
						<p class="product-description">{{ p.short_desc }}</p>
					</div>
					<div class="product-item-right">
						<span>{{ p.price }}</span>
					</div>
				</div>
				<div class="product-item-footer">
					<img class="user-avatar" src="{{ p.user.avatar }}">
					<span class="user-name">{{ p.user.name }}</span>
					<div class="product-item-footer-buttons">
						<a class="edit-product-link" href="{{ url_for('editProduct', url_name=p.category_url, product_id=p.id) }}">Edit</a>
						<span class="spacer">/</span>
						<a class="delete-product-link" href="{{ url_for('delProduct', url_name=p.category_url, product_id=p.id) }}">Delete</a>
					</div>
				</div>
			</div>
		{% endfor %}
		{% endif %}
		</div>
	</main>
{% endblock %}