{% extends "main.html" %}
{% block content %}
	{% include "header.html" %}
	{% include "navigation.html" %}
	<main class="main-content">
		<div class="category-page-header">
			<h2 class="category-page-title">{{ category.name }}</h2>
			<div class="category-page-header-buttons">
				<a href="{{ url_for('editCategory', url_name=category.url_name) }}">
					<button class="btn btn-edit">Edit Category</button>
				</a>
				<a href="{{ url_for('delCategory', url_name=category.url_name) }}">
					<button class="btn btn-delete">Delete Category</button>
				</a>
				<a href="{{ url_for('addProduct', url_name=category.url_name) }}">
					<button class="btn btn-add">Add a Product</button>
				</a>
			</div>
		</div>
		<div class="product-data">
		{% if products != [] %}
			{% for p in products %}
			<div class="product-item">
				<div class="product-item-header">
					<h3>{{ p.name }}</h3><span>{{ p.category.name }}</span>
				</div>
				<div class="product-item-content">
					<div class="product-item-left">
						<p class="product-description">{{ p.short_desc }}</p>
					</div>
					<div class="product-item-right">
						<span>{{ p.price }}</span>
					</div>
				</div>
				<div class="product-item-footer">
					<img class="user-avatar" src="{{ p.user.avatar }}">
					<span class="user-name">{{ p.user.name }}</span>
					<div class="product-item-footer-buttons">
						<a class="edit-product-link" href="{{ url_for('editProduct', url_name=category.url_name, product_id=p.id) }}">Edit</a>
						<span class="spacer">/</span>
						<a class="delete-product-link" href="{{ url_for('delProduct', url_name=category.url_name, product_id=p.id) }}">Delete</a>
					</div>
				</div>
			</div>
			{% endfor %}
		{% else %}
			<div class="no-products">
				<p>No Products in this Category</p>
			</div>
		{% endif %}
		</div>
	</main>
{% endblock %}