<header class="site-header">
	{% with messages = get_flashed_messages() %}
	<div class="flash">
		{% if messages %}
			{% for message in messages %}
			<div class="flash-msg">{{ message }}<i class="fa fa-times-circle" aria-hidden="true" style="margin-left: 8px; cursor: pointer;"></i></div>
			{% endfor %}
		{% endif %}
	</div>
	{% endwith %}
	<div class="header-wrapper">
		<a class="header-title" href="{{ url_for('showCategories') }}">Product Catalogue</a>
		<div class="header-login">
			{% if 'username' not in session %}
			<a href="{{ url_for('showLogin') }}">
				<button class="btn btn-login">Login</button>
			</a>
			{% else %}
			<a href="{{ url_for('logout') }}">
				<button class="btn btn-logout">Logout</button>
			</a>
			{% endif %}
		</div>
	</div>
</header>