{% extends "main.html" %}
{% block content %}
	{% include "header.html" %}
	{% include "navigation.html" %}
	<main class="main-content">
		<div class="category-page-header">
			<h2 class="category-page-title">All Products</h2>
		</div>
		<div class="product-data">
		{% if products != [] %}
		{% for p in products %}
			<div class="product-item">
				<div class="product-item-header">
					<h3>{{ p.name }}</h3><span>{{ p.category.name }}</span>
				</div>
				<div class="product-item-content">
					<div class="product-item-left">
						<p class="product-description">{{ p.short_desc }}</p>
					</div>
					<div class="product-item-right">
						<span>{{ p.price }}</span>
					</div>
				</div>
			</div>
		{% endfor %}
		{% endif %}
		</div>
	</main>
{% endblock %}