html, body {
	margin: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.main-content {
	max-width: 1200px;
	margin: 0 auto;
}

section {
	margin: 30px 15px;
	display: flex;
	flex-wrap: wrap;
}

a {
	cursor: pointer;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

.logo, .title-header, .tile-header, .section-header {
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	width: 100%;
	background-color: #ff4500;
	text-align: center;
	color: #fff;
	padding: 1em 0em;
}

.logo {
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.5em;
}

.title-header, .tile-header {
	font-size: 1.5em;
	text-transform: capitalize;
}

.intro-text {
	color: #939393;
	line-height: 1.5em;
}

.section-header {
	width: 100%;
}

article {
	margin-bottom: 30px;
}

.tile {
	-webkit-box-shadow: 10px 10px 10px -8px rgba(150,150,150,1);
	-moz-box-shadow: 10px 10px 10px -8px rgba(150,150,150,1);
	box-shadow: 10px 10px 10px -8px rgba(150,150,150,1);
	text-align: center;
	margin: 15px;
}

.tile-content-wrap {
	padding: 15px 15px 30px;
}

footer {
	width: 100%;
	background-color: #2d3c49;
	text-align: center;
	padding: 0.5em 0em;
}

.footer-links a {
	font-size: 0.8em;
	text-transform: uppercase;
	margin: 0 10px;
	color: #fff;
	text-decoration: none;
}

.fa {
	margin-right: 5px;
}

@media screen and (min-width: 601px) {
	.left-large {
		width: 50%;
	}
	.right-large {
		width: 50%;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.title-header, .intro-text {
		padding: 0px 15px;
	}
	article {
		width: 50%;
	}
}

@media screen and (min-width: 851px) {
	article {
		width: 33.33%;
	}
}